h4{
  color: #00ff00;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 2px;
}
h5{
  color: #ff00ea;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 2px;
}
h6{
  color: #0011ff;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 2px;
}
h7{
  color: #ff0000;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 2px;
}
h8{
  color: #da45ff;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 2px;
}
h9{
  color: #ff8800;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 2px;
}